*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body {
  margin: 0;
  background: rgb(223, 253, 255);
  background: linear-gradient(
    85deg,
    rgba(223, 253, 255, 1) 0%,
    rgba(241, 224, 255, 1) 60%,
    rgba(225, 225, 228, 1) 100%
  );
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
